<p>
	<strong>Title:</strong>
	<%= @post.title %>
</p>

<p>
	<strong>Text:</strong>
	<%= @post.text %>
</p>

<h2>Comments</h2>
<%= render @post.comments %>

<h2>Add a comment:</h2>
<%= render "comments/form" %>

<%= link_to "Back", posts_path %> | <%= link_to 'Edit', edit_post_path(@post) %>
